@font-face {
  font-family: 'LFTEticaLt';
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/LFTEticaLt.woff") format("woff"); }

@font-face {
  font-family: "LFTEticaReg";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/LFT_Etica_Reg.woff") format("woff"); }

@font-face {
  font-family: "LFTEticaBold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/LFT_Etica_Semibold.woff") format("woff"); }


body {
  margin: 0;
  padding: 0;
  font-family: "LFTEticaReg", "Lucida Sans Unicode", "Lucida Grande", sans-serif!important;
  background: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, p {
  font-family: "LFTEticaReg", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

strong {
  font-family: "LFTEticaBold", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.lite {
  font-family: "LFTEticaBold", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}